.projects hr {
	margin: 0;
	width: 60%;
}

.project-list {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 2rem;
	place-items: center;
}

.project-item {
	display: flex;
	flex-direction: column;
	color: white;
}

.project-item img {
	object-fit: cover;
	object-position: center;
	width: 300px;
	height: 300px;
	border-radius: 1.2rem;
	margin-bottom: 1rem;
}

.project-item h3 {
	margin-block: 0;
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
}

.project-item p {
	margin-block: 0;
	font-size: 1rem;
}
